#header {
    background-color: linear-gradient(0deg, #feccb1, #f17432 61%, #ea5507 69%); #url("/Styles/backgroundBar.jpg");
    color:#E6E600;
    text-align:left;
    padding:20% 0 25% 30%;
}
#cssmenu {
  text-align: center;
  border-radius: 25px;
  background: Blue;
  list-style:none;
  margin: 0;
  padding: 0%;
  width: 12em;
  display: inline;
}
#cssmenu li {
  display: inline-block;
  border-radius: 25px;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: auto;
  padding: 0%;
  list-style: none;
  background: DarkOrange  ;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: 500;
}
#cssmenu lo {
  display: inline-block;
  border-radius: 25px;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: inherit;
  padding: 0% 0% 0% 35%;
  list-style: none;
  background: DarkOrange  ;
}
#cssmenu lp {
  display: inline-block;
  border-radius: 25px;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: inherit;
  padding: 0% 35% 0% 0%;
  list-style: none;
  background: DarkOrange  ;
}
#cssmenu a:hover {
  border-radius: 25px;
  background: #2580a2 path("/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
#top, #bottom, #left, #right {
	background: #00FFFF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
#Footer {
    background-image:url("/Styles/backgroundBarFooter.jpg");
    color:#00003D;
    text-align:center;
    padding:5px;
    position: fixed;
    bottom: 0px;
}
#post-container {
    margin: 50px 20px 0 0;
    border: 10px solid #333;
    overflow: auto
}
#post-thumb img {
    display: flex;
    float: right;

}
#post-content {
    margin-left: 210px
    float:right;
    padding 10% 0 0 0 ;
}
#post-title {
  font-weight: normal;
  font-size: 200%;
  color: DarkOrange;
  float: right;
}
#paragraph{
  font-family: cursive;
}
